# https://docs.docker.com/compose/compose-file/03-compose-file/

version: '3.5'

services:
  app:
    build: .docker/python
    working_dir: /app
    volumes:
      - .:/app
      - ./var/cache:/.cache
    environment:
      PYTHONUSERBASE: /app/var/vendor
      PYTHONDONTWRITEBYTECODE: x
